REDIS_HOST=your-redis.redis.cache.windows.net
REDIS_PORT=6380
REDIS_SSL=1
REDIS_PASSWORD=
REDIS_DB=1

BULLMQ_KEY_PREFIX=bull
BULLMQ_QUEUE_NAME=SendEmail
BULLMQ_RETRY_LIMIT=1
BULLMQ_DEAD_LETTER_QUEUE=SendEmail_dead_letter
